body {
    font-family: -apple-system, Arial, "Microsoft Yahei", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

theme-default-content:not(.custom) img {
    max-width: 90%;
    display: block;
    margin: 15px auto;
    box-shadow: 0px 0px 15px 2px #aaa
}

.theme-default-content.custom img {
    max-width: 60%;
    display: block;
    margin: 15px 0px;
    box-shadow: 0px 0px 15px 2px #aaa
}

strong {
    font-weight: 600;
    color: #c05600;
}

.theme-default-content code {
    color: #7c1a00;
    background-color: rgba(27,31,35,0.05);
}

.theme-default-content.custom.content__default h1 {
    color: #2c3e50
}

.theme-default-content.custom.content__default h2 {
    color: #2c3e50
}

// h2 {
//     color: #aa8800
// }

// h3 {
//     color: #218a00
// }

h4 {
    color: #00628f
}

// .token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
//     color: #6a9e55
// }

// 一级标题
.sidebar > .sidebar-links > li > a.sidebar-link {
    font-size: 1.0em !important;
    font-weight: 800 !important;
    font-size: 12pt !important;
}

// 二级标题
.sidebar-sub-headers a.sidebar-link {
    font-size: 0.9em !important;
    font-weight: 600 !important;
    border-left: 1px !important;
    font-size: 10pt !important;
    padding-top: 0.50rem !important;
}

a.sidebar-link {
    line-height: 1.2 !important;
    
}

// 三级标题
.sidebar-sub-headers .sidebar-sub-header .sidebar-sub-headers a.sidebar-link {
    padding-bottom: 0.50rem !important;
    font-weight: 400 !important;
    padding-left: 30px !important;
    font-size: 8pt !important;
}

// .home .hero img {
//     margin: 0 0 0 0    !important;
//     float: left !important;
// }

// .home .hero img {
//     max-height: 220px !important 
// }

// .home .hero {
//     // text-align: center;
//     height: 220px;
//     margin-bottom: 60px;
// }

// .home .hero h1, .home .hero .description, .home .hero .action {
//     margin: 1.8rem 0 1.8rem 25rem !important;
// }